{% extends "./blog/base.html" %}

{%block main%}


    <link href="http://fineui.com/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="http://fineui.com/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="http://fineui.com/res/css/docs.css" rel="stylesheet">
<div class="container">
        <style>
			ul.timeline {
				list-style-type: none;
				background: url("http://fineui.com/res/img/version_line.png") repeat-y scroll 120px 0 transparent;
				margin: 50px 0;
				padding: 0;
			}

			ul.timeline li {
				position: relative;
				margin-bottom: 20px;
			}
			ul.timeline li .time {
				position: absolute;
				width: 150px;
				text-align: left;
				left: 0;
				top: 10px;
				color: #999;
			}
			ul.timeline li .version {
				position: absolute;
				width: 290px;
				text-align: right;
				left: -200px;
				top: 30px;
				font-size: 20px;
				line-height: 50px;
				color: #3594cb;
				overflow: hidden;
			}
			ul.timeline li .number {
				position: absolute;
				background: url("http://fineui.com/res/img/version_dot.png") no-repeat scroll 0 0 transparent;
				width: 56px;
				height: 56px;
				left: 97px;
				line-height: 56px;
				text-align: center;
				color: #fff;
				font-size: 18px;
			}
			ul.timeline li.alt .number {
				background-image: url("http://fineui.com/res/img/version_dot_alt.png");
			}

			ul.timeline li .content {
				margin-left: 180px;

			}
			ul.timeline li .content pre {
				background-color: #3594cb;
				padding: 20px;
				color: #fff;
				font-size: 13px;
				line-height: 20px;
			}
			ul.timeline li.alt .content pre {
				background-color: #43B1F1;
			}

			ul.timeline li.alt-y .content pre {
				background-color: #FF9900;
			}

			a.number {
				position: absolute;
				background: url("http://fineui.com/res/img/version_dot.png") no-repeat scroll 0 0 transparent;
				width: 56px;
				height: 56px;
				left: 97px;
				line-height: 56px;
				text-align: center;
				color: #fff;
				font-size: 18px;
			}
		</style>


		<div>
			<form id="story-create-form" method="post" role="form">
				<ul>
					{% if note %}
					<li><span>发生时间：</span><span><input id='occur_date' type="text" value="{{note.occur_date}}"></span></li>
					<li><span>标志：</span><span><input id="mark" type="text" value="{{note.mark}}"/></span></li>
					<li><span>描述：</span><span><textarea id="description" >{{note.description}}</textarea></span></li>
					<li><span>类别：</span><span><input id="tyle" type="text" value="{{note.style}}" /></span></li>
					{% endif %}
				</ul>
				<button type="submit">创建故事</button>
			  </form>
		</div>


		<!--<div style="margin-left:180px;">-->
			<!--<button id="fetchNextData" class="btn btn-large btn-info" style="width:100%;">后二十条数据</button>-->
		<!--</div>-->
        <!--<br>-->
		<!--<br>-->
    </div>

<script language="javascript" type="text/javascript">
    $('#story-create-form').submit(function(){
        $.ajax({
            type:"POST",
            url:"/editor/note/{{note.id}}/{{story_id}}",
            data:{
				"occur_date":$("#occur_date").val(),
				"mark":$("#mark").val(),
				"description":$("#description").val()
			},
            beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
            },
            success:function(data,textStatus){
				console.log(data.url +data.isend + " ,"+textStatus );
				window.location.href = data.url;
//                $("#comment").val("");
//                $(".vmaig-comment ul").prepend(data);
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);

            }

        });
        return false;
    });

</script>


{% endblock %}