{% extends "./blog/base.html" %}

{%block main%}


    <!--<link href="http://fineui.com/bootstrap/css/bootstrap.css" rel="stylesheet">-->
	<!--<link href="http://fineui.com/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">-->
	<link href="http://fineui.com/res/css/docs.css" rel="stylesheet">
<style>
	textarea{
		height:100px;
		width:600px;
	}

	ul.timeline {
		list-style-type: none;
		background: url("/static/img/history/version_line.png") repeat-y scroll 120px 0 transparent;
		margin: 50px 0;
		padding: 0;
	}

	ul.timeline li {
		position: relative;
		margin-bottom: 20px;
	}
	ul.timeline li .new-btn{
		position: relative;
		height: 20px;
	}
	ul.timeline li .time {
		position: absolute;
		width: 290px;
		text-align: right;
		left: -200px;
		top: 10px;
		color: #999;
	}

	ul.timeline li .version {
		position: absolute;
		width: 290px;
		text-align: right;
		left: -200px;
		top: 50px;
		/*font-size: 20px;*/
		/*line-height: 50px;*/
		color: #3594cb;
		overflow: hidden;
	}
	ul.timeline li .number {
		position: absolute;
		background: url("/static/img/history/version_dot.png") no-repeat scroll 0 0 transparent;
		width: 56px;
		height: 56px;
		left: 97px;
		line-height: 56px;
		text-align: center;
		color: #fff;
		font-size: 18px;
	}
	ul.timeline li.alt .number {
		background-image: url("/static/img/history/version_dot_alt.png");
	}

	ul.timeline li .content {
		margin-left: 180px;

	}
	ul.timeline li .content pre {
		background-color: #3594cb;
		padding: 20px;
		color: #fff;
		font-size: 13px;
		line-height: 20px;
	}
	ul.timeline li.alt .content pre {
		background-color: #43B1F1;
	}

	ul.timeline li.alt-y .content pre {
		background-color: #ffbd40;

		/*background-color: #FF9900;*/
	}

	a.number {
		position: absolute;
		background: url("/static/img/history/version_dot.png") no-repeat scroll 0 0 transparent;
		width: 56px;
		height: 56px;
		left: 97px;
		line-height: 56px;
		text-align: center;
		color: #fff;
		font-size: 18px;
	}

</style>
<style type="text/css">
.intLink { cursor: pointer; }
img.intLink { border: 0; }
#toolBar1 select { font-size:10px; }
#description {
  width: 540px;
  height: 200px;
  border: 1px #000000 solid;
  padding: 12px;
  overflow: scroll;
}
#description #sourceText {
  padding: 0;
  margin: 0;
  min-width: 498px;
  min-height: 200px;
}
#description a {
  background-color: #ffbd40;
}
#editMode label { cursor: pointer; }
</style>
<div class="container">
      	<div>
			{% if note %}

				<p>
					<form id="note-editor-form" method="post" role="form">
						<button type="submit">修改标签</button>
						<button type="button"  onclick="window.location.href='/story/{{story_id}}'">取消</button>
						<button type="button" id="note-delete" >删除标签</button>
					</form>
				</p>

				<ul class="timeline">
					<li>
						<div class="time">
							<span></span><span><input id='occur_date' type="text" value="{{note.occur_date  | date:'Y-m-d'}}" placeholder="时间：1988-01-02"></span>
						</div>
						<div class="version"><span></span><span><input id="mark" type="text" value="{{note.mark}}" placeholder="标志：历史"/></span></div>
						<div class="number">{{note.mark |slice:"1" }}</div>
						<div style="display:none"><span>类别：</span><span><input id="style" type="text" value="{{note.style}}" /></span></div>
						<div class="content">
							<!--<pre>-->
								<form name="compForm">
									<input type="hidden" name="myDoc">
									<div id="toolBar2">
										<img class="intLink" title="Hyperlink" onclick="var sLnk=prompt('Write the URL here','http:\/\/');if(sLnk&&sLnk!=''&&sLnk!='http://'){formatDoc('insertHtml','<a href='+sLnk+'>tt</a>')}" src="data:image/gif;base64,R0lGODlhFgAWAOMKAB1ChDRLY19vj3mOrpGjuaezxrCztb/I19Ha7Pv8/f///////////////////////yH5BAEKAA8ALAAAAAAWABYAAARY8MlJq7046827/2BYIQVhHg9pEgVGIklyDEUBy/RlE4FQF4dCj2AQXAiJQDCWQCAEBwIioEMQBgSAFhDAGghGi9XgHAhMNoSZgJkJei33UESv2+/4vD4TAQA7" />
									</div>
									<div id="description"  contenteditable="true">{% autoescape off %}{{note.description}}{% endautoescape %}</div>
									<!--<p id="editMode"><input type="checkbox" name="switchMode" id="switchBox" onchange="setDocMode(this.checked);" /> <label for="switchBox">Show HTML</label></p>-->
								</form>
							<!--</pre>-->
						</div>
					</li>
				</ul>

				<!--<ul>-->
					<!--<li><span>发生时间：</span><span><input id='occur_date' type="text" value="{{note.occur_date  | date:'Y-m-d'}}"></span></li>-->
					<!--<li><span>标志：</span><span><input id="mark" type="text" value="{{note.mark}}"/></span></li>-->
					<!--<li><span>类别：</span><span><input id="style" type="text" value="{{note.style}}" /></span></li>-->
					<!--<li><span>描述：</span><span>-->
						<!--&lt;!&ndash;<textarea id="description" >{{note.description}}</textarea>&ndash;&gt;-->
						<!--<form name="compForm">-->
							<!--<input type="hidden" name="myDoc">-->
							<!--<div id="toolBar2">-->
								<!--<img class="intLink" title="Hyperlink" onclick="var sLnk=prompt('Write the URL here','http:\/\/');if(sLnk&&sLnk!=''&&sLnk!='http://'){formatDoc('insertHtml','<a href='+sLnk+'>tt</a>')}" src="data:image/gif;base64,R0lGODlhFgAWAOMKAB1ChDRLY19vj3mOrpGjuaezxrCztb/I19Ha7Pv8/f///////////////////////yH5BAEKAA8ALAAAAAAWABYAAARY8MlJq7046827/2BYIQVhHg9pEgVGIklyDEUBy/RlE4FQF4dCj2AQXAiJQDCWQCAEBwIioEMQBgSAFhDAGghGi9XgHAhMNoSZgJkJei33UESv2+/4vD4TAQA7" />-->
							<!--</div>-->
							<!--<div id="description" contenteditable="true">{% autoescape off %}{{note.description}}{% endautoescape %}</div>-->
							<!--&lt;!&ndash;<p id="editMode"><input type="checkbox" name="switchMode" id="switchBox" onchange="setDocMode(this.checked);" /> <label for="switchBox">Show HTML</label></p>&ndash;&gt;-->
						<!--</form>-->
					<!--</span></li>-->
					<!--&lt;!&ndash;<li><span>鉴：</span><span><textarea id="mirror" >{{note.mirror}}</textarea></span></li>&ndash;&gt;-->

				<!--</ul>-->



			{% else %}
				<p>
					<!--</ul>-->
					<form id="note-create-form" method="post" role="form">
						<button type="submit">创建标签</button>
						<button type="button" onclick="window.location.href='/story/{{story_id}}'">取消</button>
					</form>
				</p>

				<ul class="timeline">
					<li>
						<div class="time">
							<span></span><span><input id='occur_date' type="text"  placeholder="时间：1988-01-02"></span>
						</div>
						<div class="version"><span></span><span><input id="mark" type="text"  placeholder="标志：历史"/></span></div>
						<div class="number">{{note.mark |slice:"1" }}</div>
						<div style="display:none"><span>类别：</span><span><input id="style" type="text" value="0" /></span></div>
						<div class="content">
							<!--<pre>-->
								<form name="compForm">
									<input type="hidden" name="myDoc">
									<div id="toolBar2">
										<img class="intLink" title="Hyperlink" onclick="var sLnk=prompt('Write the URL here','http:\/\/');if(sLnk&&sLnk!=''&&sLnk!='http://'){formatDoc('insertHtml','<a href='+sLnk+'>tt</a>')}" src="data:image/gif;base64,R0lGODlhFgAWAOMKAB1ChDRLY19vj3mOrpGjuaezxrCztb/I19Ha7Pv8/f///////////////////////yH5BAEKAA8ALAAAAAAWABYAAARY8MlJq7046827/2BYIQVhHg9pEgVGIklyDEUBy/RlE4FQF4dCj2AQXAiJQDCWQCAEBwIioEMQBgSAFhDAGghGi9XgHAhMNoSZgJkJei33UESv2+/4vD4TAQA7" />
									</div>
									<div id="description"  contenteditable="true">{% autoescape off %}{{note.description}}{% endautoescape %}</div>
									<!--<p id="editMode"><input type="checkbox" name="switchMode" id="switchBox" onchange="setDocMode(this.checked);" /> <label for="switchBox">Show HTML</label></p>-->
								</form>
							<!--</pre>-->
						</div>
					</li>
				</ul>


				<!--<ul>-->
					<!--<li><span>发生时间：</span><span><input id='occur_date' type="text" ></span></li>-->
					<!--<li><span>标志：</span><span><input id="mark" type="text" /></span></li>-->
					<!--<li><span>类别：</span><span><input id="style" type="text" value="0" /></span></li>-->
					<!--<li><span>描述：</span><span>-->
						<!--&lt;!&ndash;<textarea id="description" contenteditable="true" ></textarea>&ndash;&gt;-->
						<!--<form name="compForm">-->
							<!--<input type="hidden" name="myDoc">-->
							<!--<div id="toolBar2">-->
								<!--<img class="intLink" title="Hyperlink" onclick="var sLnk=prompt('Write the URL here','http:\/\/');if(sLnk&&sLnk!=''&&sLnk!='http://'){formatDoc('insertHtml','<a href='+sLnk+'>tt</a>')}" src="data:image/gif;base64,R0lGODlhFgAWAOMKAB1ChDRLY19vj3mOrpGjuaezxrCztb/I19Ha7Pv8/f///////////////////////yH5BAEKAA8ALAAAAAAWABYAAARY8MlJq7046827/2BYIQVhHg9pEgVGIklyDEUBy/RlE4FQF4dCj2AQXAiJQDCWQCAEBwIioEMQBgSAFhDAGghGi9XgHAhMNoSZgJkJei33UESv2+/4vD4TAQA7" />-->
							<!--</div>-->
							<!--<div id="description" contenteditable="true"><p></p></div>-->
							<!--&lt;!&ndash;<p id="editMode"><input type="checkbox" name="switchMode" id="switchBox" onchange="setDocMode(this.checked);" /> <label for="switchBox">Show HTML</label></p>&ndash;&gt;-->
						<!--</form>-->
					<!--</span></li>-->
					<!--&lt;!&ndash;<li><span>鉴：</span><span><textarea id="mirror" ></textarea></span></li>&ndash;&gt;-->
				<!--</ul>-->

			{% endif %}
		</div>
    </div>

	<!--<a  data-toggle="modal" data-target="#add-hyperlink-modal"  style="padding-right:0px;cursor:pointer;">查询测试</a>-->
	<input type="text" id="query_story"  placeholder="故事标题链接查询： 历史">
					<input type="button" id="note-query-story"  value="查询">

					<button id="add-hyperlink-button">确认 </button> <!--class="btn btn-primary" -->


					<div id="story-link"></div>



	<div class="modal fade" id="add-hyperlink-modal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					< type="button" class="close"
						data-dismiss="modal" aria-hidden="true">
						&times;

				</div>
				<div class="modal-body clearfix">


					<!--<button id=""  class="btn btn-primary" data-dismiss="modal" style=" float:right;">-->
						<!--取消-->
					<!--</button>-->


				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>

<script language="javascript" type="text/javascript">
		//创建note
		$('#note-create-form').submit(function(){
			$.ajax({
				type:"POST",
				url:"/add/note/{{story_id}}",
				data:{
					"occur_date":$("#occur_date").val(),
					"mark":$("#mark").val(),
					"description":$("#description").html(),
					"mirror":$("#mirror").val(),
					"style":$("#style").val()
				},
				beforeSend:function(xhr){
					xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
				},
				success:function(data,textStatus){
					console.log(data.url +data.isend + " ,"+textStatus );
					window.location.href = data.url;
				},
				error:function(XMLHttpRequest, textStatus, errorThrown){
					alert(XMLHttpRequest.responseText);
				}
			});
			return false;
		});

		//编辑note
	    $('#note-editor-form').submit(function(){
        $.ajax({
            type:"POST",
            url:"/editor/note/{{note.id}}/{{story_id}}",
            data:{
				"occur_date":$("#occur_date").val(),
				"mark":$("#mark").val(),
				"description":$("#description").html(),
				"mirror":$("#mirror").val(),
				"style":$("#style").val()
			},
            beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
            },
            success:function(data,textStatus){
				console.log(data.url +data.isend + " ,"+textStatus );
				window.location.href = data.url;
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);

            }

        });
        return false;
    });

		//删除note
		 $('#note-delete').click(function(){
			$.ajax({
				type:"POST",
				url:"/delete/note/{{note.id}}/{{story_id}}",
				beforeSend:function(xhr){
					xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
				},
				success:function(data,textStatus){
					console.log(data.url +data.isend + " ,"+textStatus );
					window.location.href = data.url;
				},
				error:function(XMLHttpRequest, textStatus, errorThrown){
					alert(XMLHttpRequest.responseText);
				}
			});
			return false;
		});

	//在note查询story，做超链接
		 $('#note-query-story').click(function(){
			$.ajax({
				type:"POST",
				url:"/query/story",
				data:{
					"title":$("#query_story").val()
				},
				beforeSend:function(xhr){
					xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
				},
				success:function(data,textStatus){
					console.log(data.story_info);
					_story_info = data.story_info;
					for( i in _story_info)
					{
						$("#story-link").append(
								"<p>"+
								"<input type='radio' id = 'add-hyperlink1' name = 'add-hyperlink' value='"+i+"' " +
								"story-id='"+_story_info[i].id+"'  story-title='"+_story_info[i].title+"'  story-author='"+_story_info[i].author+"' />" +
								"<span>"+_story_info[i].id+"</span>"+
								"<span>"+_story_info[i].title+"</span>"+
								"<span>"+_story_info[i].author+"</span>" +
								"</p>"
						)
					}


//					console.log(data.url +data.isend + " ,"+textStatus );
//					window.location.href = data.url;
				},
				error:function(XMLHttpRequest, textStatus, errorThrown){
					alert(XMLHttpRequest.responseText);
				}
			});
			return false;
		});

//	$("#description").append("<a>2361测试用的8</a>")
//	$("#description").append("{{note.description}}");
	$('#add-hyperlink-button').click(function()
	{
//		oDoc.innerHTML = "{{note.description}}"

//		formatDoc('insertHtml',"{{note.description}}");
//		oDoc.focus();
		_story_id = $("input:radio[name='add-hyperlink']:checked").attr("story-id");
		_story_title = $("input:radio[name='add-hyperlink']:checked").attr("story-title");
		if (_story_id)
			formatDoc('insertHtml',"<a href='/story/"+_story_id+"' >"+_story_title+"</a>");
//		console.log($("input:radio[name='add-hyperlink']:checked").val());
//		console.log($("input:radio[name='add-hyperlink']:checked").attr("story"));
//		return false;
	});

</script>









<script type="text/javascript" src="/static/js/editor.js"></script>

{% endblock %}