{% extends "./blog/base.html" %}

{%block main%}


    <!--<link href="http://fineui.com/bootstrap/css/bootstrap.css" rel="stylesheet">-->
	<!--<link href="http://fineui.com/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">-->
	<link href="http://fineui.com/res/css/docs.css" rel="stylesheet">
<style>
	textarea{
		height:300px;
		width:600px;
	}
</style>
<div class="container">
      	<div>
			{% if note %}
			<form id="note-editor-form" method="post" role="form">
				<ul>
					<li><span>发生时间：</span><span><input id='occur_date' type="text" value="{{note.occur_date  | date:'Y-m-d'}}"></span></li>
					<li><span>标志：</span><span><input id="mark" type="text" value="{{note.mark}}"/></span></li>
					<li><span>描述：</span><span><textarea id="description" >{{note.description}}</textarea></span></li>
					<li><span>类别：</span><span><input id="style" type="text" value="{{note.style}}" /></span></li>
				</ul>
				<button type="submit">修改标签</button>
				<button type="button"  onclick="window.location.href='/story/{{story_id}}'">取消</button>
				<button type="button" id="note-delete" >删除标签</button>
			</form>

			{% else %}
			<form id="note-create-form" method="post" role="form">
				<ul>
					<li><span>发生时间：</span><span><input id='occur_date' type="text" ></span></li>
					<li><span>标志：</span><span><input id="mark" type="text" /></span></li>
					<li><span>描述：</span><span><textarea id="description" ></textarea></span></li>
					<li><span>类别：</span><span><input id="style" type="text" value="0" /></span></li>
				</ul>
				<button type="submit">创建标签</button>
				<button type="button" onclick="window.location.href='/story/{{story_id}}'">取消</button>
			  </form>
			{% endif %}
		</div>
    </div>

<script language="javascript" type="text/javascript">
		//创建note
		$('#note-create-form').submit(function(){
			$.ajax({
				type:"POST",
				url:"/add/note/{{story_id}}",
				data:{
					"occur_date":$("#occur_date").val(),
					"mark":$("#mark").val(),
					"description":$("#description").val(),
					"style":$("#style").val()
				},
				beforeSend:function(xhr){
					xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
				},
				success:function(data,textStatus){
					console.log(data.url +data.isend + " ,"+textStatus );
					window.location.href = data.url;
				},
				error:function(XMLHttpRequest, textStatus, errorThrown){
					alert(XMLHttpRequest.responseText);
				}
			});
			return false;
		});

		//编辑note
	    $('#note-editor-form').submit(function(){
        $.ajax({
            type:"POST",
            url:"/editor/note/{{note.id}}/{{story_id}}",
            data:{
				"occur_date":$("#occur_date").val(),
				"mark":$("#mark").val(),
				"description":$("#description").val(),
				"style":$("#style").val()
			},
            beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
            },
            success:function(data,textStatus){
				console.log(data.url +data.isend + " ,"+textStatus );
				window.location.href = data.url;
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);

            }

        });
        return false;
    });

		//删除note
		 $('#note-delete').click(function(){
			$.ajax({
				type:"POST",
				url:"/delete/note/{{note.id}}/{{story_id}}",
				beforeSend:function(xhr){
					xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
				},
				success:function(data,textStatus){
					console.log(data.url +data.isend + " ,"+textStatus );
					window.location.href = data.url;
				},
				error:function(XMLHttpRequest, textStatus, errorThrown){
					alert(XMLHttpRequest.responseText);
				}
			});
			return false;
		});
</script>


{% endblock %}